.columns.large-8
  .panel
    %h4
      Welcome
      %hr
    
    %h5.subheader
      %p
        SGS Express was launched since 2012, which is uniquely designed to serve customer with
      
      %p
        %strong
          Speed, Guarantee & Safety
      %p
        Whatever you need to transport, whenever, wherever we do it on time, every time at very competitive rates. SGS Express teamwork, technology, and knowledge combined to make the things possible and a regular achievement by making sure that your documents and parcels are delivered safe and on-time every-time using our partner’s integrated network. 

= render partial: 'shared/tracking_code_contact'  
