.columns.large-8
  .panel
    %h4
      Welcome
      %hr
    
    %h5.subheader
      %p
        SGS Express is a professionally managed Courier company, which is uniquely designed to serve customer with
      
      %p
        %strong
          Speed, Guarantee & Safety
      %p
        SGS Express is a full-service global Courier company with a diverse offering of strategic locations and partner facilities across the world. Our Team brings a world-wide, end-to-end solution for all your logistics needs at very competitive rates. We are focused on delivering product and information quickly and accurately. 

= render partial: 'shared/tracking_code_contact'  
