.columns.large-8
  .panel
    %h4
      About us
      %hr
    
    %h5.subheader
      %p SGSExpress, one of the leading courier companies in India servicing intra-city, domestic & international destinations, was started with the goal of setting up a word-wide network. In order to facilitate speedy, guaranteed and safety of courier, we have tied-up with reputed agents' network.
     
      %p Irrespective of your goods & the destination of its delivery, we promise you time- guarantee with our expertise and knowledge, combined to make things possible by ensuring a safe delivery of your documents & parcels.

= render partial: 'shared/tracking_code_contact'