.columns.large-8
  .panel
    %h4
      Carrers
      %hr
    
    %h5.subheader
      %p Currently we don't have any openings.

      %p To reach us you can contact us at info@sgsexpress.in

= render partial: 'shared/tracking_code_contact'