.columns.large-12
  .panel
    %h4
      Services
      %hr
    
    %h5.subheader
      %p <b>Intra-city Services:</b> We deal with a complete range of services for express documents, parcels and logistics solutions within Mumbai City & Mumbai Suburbs.

      %p <b>Domestic Express Service:</b> We offer the most reliable door to door time bound delivery service within India for documents and small shipments. Domestic Air Cargo is most efficient solution for your samples and commercial heavy shipments, which are time bound and require special care. Domestic Air Cargo provides 'next day' delivery to Metro Cities and major locations across India. Domestic Surface Cargo we also offer you cost effective surface transport, ground distribution service within India of shipments above 20 kgs.
     
      %p <b>International services:</b> We cover more than 175 countries worldwide on our own and networking agents. We offer more efficient and economical solution for your documents, sample shipments, commercial shipments including clearance at origin and destination. We also offer special cost based commercial terms for selected cities across the world.
     
      %p <b>Delivery Management/ Annual Reports/ Projects:</b> We offer services for bulk loads pickup and delivery for intra-city, domestic and international locations. These projects will be handled by our dedicated expert team with database management.
     
      %p <b>Warehousing Service:</b> We offer networking warehouse facility for your in transit goods.
     
     
     
      %p 
        %h4 
          Other Services:
     
      %p <b>Packing:</b> We provide option of arranging packaging of your material as per the transit requirement to ensure that your shipment is delivered in good shape at its final destination.
      
      %p <b>Pick Up:</b> SGS Express offers the flexibility of picking up your materials directly from any location on your behalf and dispatch it anywhere as per your requirement.
     
      %p <b>Door to Door Logistics:</b> We offer complete solutions from origin to destination including pickup, packaging, transportation, warehousing and distribution services. This involves the process of planning, implementing and controlling the inventory, storage and distribution of valued production as per customer requirement.