body {
  background: #feffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.inner-background {
  background: #f0f9ff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  // background-color: #DEF1FB;
}

.menu {
  ul.button-group {
    background-color: #F80000;
    height: 50px;
    padding: 0px;
    li {
      border-color: #C50000;
      border-style: solid;
      border-width: 1px;
      height: 50px;
      a {
        border: none;
        padding-bottom: 0px;
        height: 50px;
      }
    }
  }
}

.main_content, .header, .footer {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.no_padding {
  padding: 0px !important;
}

.orbit-bullets {
  float: left;
  margin-left: 45%;
  margin-top: -50px;
}

.example-orbit{
  height: 300px;
  img {
    height: 300px;
    width: 100%;
  }
  .orbit-caption {
    display: none;
  }
  .orbit-bullets, .orbit-timer, .orbit-prev, .orbit-slide-number, .orbit-prev {
    display: none!important;
  }
}

footer {
  background: lightgrey;
}
.footer .columns{
  margin-top: 10px;
  margin-bottom: 10px;
  p {
    margin-bottom: 0px;
  }
}